<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HospitalTemplate</title>
    <link rel="stylesheet" href="~/Content/StyleSheet1.css" />
</head>
<body>
    <h2>Hospital Management System</h2>
    <hr />
    <div class="menubar">
        <nav class="menu">
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="~/Doctors/GetDoctors">Doctor</a></li>
                <li><a href="~/Patients/GetAllPatients">Patient</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
